* {
    padding: 0;
    margin: 5px 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

.container {
    max-width: 1200px;
    width: 100%;
}

.nav_img {
    width: 210px;
    height: 58px;
}

.nav_ul {
    margin: 0 30px;

}

.nav-link {
    font-family: 'TT Norms';
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    color: #313131;
}

.nav-link:hover {
    font-family: 'TT Norms';
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    color: #313131;
}

.jc {
    display: flex;
    justify-content: center;
}

.btnn {
    margin: 5px 100px;
    width: 180px;
    height: 51px;
    color: #fff;
    border: none;
    border-radius: 3px;
    background: #009FDF;
    transition: 2s;
}

.btnn:hover {
    transition: 2s;
    transform: scale(1.1);
    width: 180px;
    height: 51px;
    color: #009FDF;
    border: none;
    border-radius: 3px;
    background: blanchedalmond;
}

/* menu end */
/* bcg start */
.bcgg {
    background: url(../img/mask\ group.png)no-repeat center center / cover;
    width: 1504px;
    height: 340px;
}

.bloc {
    padding: 100px 0;
}

.bcgg_lin {
    margin: 52px 0;
}

.bcgg_h1 {
    width: 700px;
    font-family: 'TT Norms';
    font-size: 48px;
    font-weight: 700;
    line-height: 57px;
    color: #fff;
}

.menu_h2 {
    padding: 5px 0;
    font-family: 'TT Norms';
    font-size: 20px;
    font-weight: 700;
    color: #00A7D8;
}

.menu_h2:hover {
    text-decoration: none;
    list-style: none;
    font-family: 'TT Norms';
    font-size: 20px;
    font-weight: 700;
    color: antiquewhite;
}

.menu_h3 {
    font-family: 'TT Norms';
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    color: #233137;
}

.menu_h3:hover {
    text-decoration: none;
    list-style: none;
    font-family: 'TT Norms';
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    color: antiquewhite;
}

.line {
    text-align: center;
}

.line_img {
    width: 1200px;
}

/* header end */
/* section start */

.kontakt_h1 {
    margin: 100px 0;
    font-family: 'TT Norms';
    font-size: 48px;
    font-weight: 700;
    line-height: 57px;
}

.kontakt_h2 {
    font-family: 'TT Norms';
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
}

.box {
    display: flex;
}

.kontakt_img {
    width: 60px;
    height: 60px;
}

.kontakt_p {
    padding: 0px 10px;
    font-family: 'TT Norms';
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
}

.a {
    padding: 20px 10px;
}

.kontek_p {
    font-family: 'TT Norms';
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
}

.col-1 img {
    height: 500px;
}

.kontakt_h3 {
    width: 105px;
    font-family: 'TT Norms';
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
}

.kontakt_h3 span {
    font-family: 'TT Norms';
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    color: #00A7D8;
}

.dd {
    width: 220px;
}

.xaxa {
    margin: 100px 0;
}

/* sect end */
/* footer satrt */
.container {
    max-width: 1200px;
    width: 100%;
}

.foot {
    width: 1504px;
    height: 366px;
    background: rgba(238, 238, 238, 1);
    padding: 100px 100px;
    margin: 50px -200px;
}

.footer-img {
    width: 210px;
    height: 58px;
}

.footer-img1 {
    width: 111px;
    height: 53px;
}

.footer-h1 {
    font-family: TT Norms;
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;

}

.footer-li {
    width: 210px;
}
ul{
    text-decoration: none;
    list-style: none;
}
.footer-li1 {
    width: 210px;
}

.footer-a {
    text-align: left;
    font-family: TT Norms;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    color: rgba(49, 49, 49, 1);
}