* {
    padding: 0;
    margin: 5px 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
.container{
    max-width: 1200px;
    width: 100%;
}
.nav_img {
    width: 210px;
    height: 58px;
}

.nav_ul {
    margin: 0 30px;

}

.nav-link {
    font-family: 'TT Norms';
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    color: #313131;
}

.nav-link:hover{
    font-family: 'TT Norms';
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    color: #313131;
} 

.jc {
    display: flex;
    justify-content: center;
}

.btnn {
    margin: 5px 100px;
    width: 180px;
    height: 51px;
    color: #fff;
    border: none;
    border-radius: 3px;
    background: #009FDF;
    transition: 2s;
}

.btnn:hover {
    transition: 2s;
    transform: scale(1.1);
    width: 180px;
    height: 51px;
    color: #009FDF;
    border: none;
    border-radius: 3px;
    background: blanchedalmond;
}

/* menu end */
/* bcg start */
.bcgg {
    background: url(../img/mask\ group.png)no-repeat center center / cover;
    width: 1504px;
    height: 340px;
}

.bloc {
    padding: 100px 0;
}

.bcgg_lin {
    margin: 52px 0;
}

.bcgg_h1 {
    width: 700px;
    font-family: 'TT Norms';
    font-size: 48px;
    font-weight: 700;
    line-height: 57px;
    color: #fff;
}

.menu_h2 {
    padding: 5px 0;
    font-family: 'TT Norms';
    font-size: 20px;
    font-weight: 700;
    color: #00A7D8;
}
.menu_h2:hover{
    text-decoration: none;
    list-style: none;
    font-family: 'TT Norms';
    font-size: 20px;
    font-weight: 700;
    color: antiquewhite;
}
.menu_h3 {
    font-family: 'TT Norms';
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    color: #233137;
}
.menu_h3:hover{
    text-decoration: none;
    list-style: none;
    font-family: 'TT Norms';
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    color: antiquewhite;
}
.line{
    text-align: center;
}
.line_img {
    width: 1200px;
}
/* header end */
/* section start */
section{
    margin-top: 56px;
}
.obwi_bloc{
    display: flex;
    justify-content: space-around;
}
.sec_p1{
    max-width: 290px;
}
.sec_bloc2{
    margin-top: 39px;
}
.rasm_1{
    display: flex;
    justify-content: space-between;
}
.box1{
    background-color:rgb(106, 106, 224) ;
    border-radius: 12px;
   margin-left: 52px;
}
.box2{
    background-color:rgb(224, 106, 218) ;
    border-radius: 12px;
   margin-left: 52px;
}
.box3{
    background-color:rgb(126, 224, 106) ;
    border-radius: 12px;
   margin-left: 52px;
}
.box4{
    background-color:rgb(224, 106, 106) ;
    border-radius: 12px;
   margin-left: 52px;
}
.box5{
    background-color:rgb(224, 222, 106) ;
    border-radius: 12px;
   margin-left: 52px;
}
.box6{
    background-color:rgb(106, 224, 224) ;
    border-radius: 12px;
   margin-left: 52px;
}
.box7{
    background-color:rgb(224, 169, 106) ;
    border-radius: 12px;
   margin-left: 52px;
}
.p_rasm{
    color: #fff;
    font-size: 22px;
  
}
.rubl{
    display: flex;
    justify-content: space-between;
}
.button{
   padding: 8px;
   margin-left: 92px;
   color: aqua;
   background-color: #86c6da;
  
   border-radius: 7px;

}
.block_3{
    margin-top: 80px;
}
.button:hover{
    background-color: #0029df;
}
/*section end*/
/*footer start*/
.container{
    max-width: 1200px;
    width: 100%;
}
.foot{
    width: 1600px;
    height: 366px;
    background: rgba(238, 238, 238, 1);
    padding: 100px 100px;
    margin: 50px -200px;
}
.footer-img{
    width: 210px;
height: 58px;
}
.footer-img1{
    width: 111px;
height: 53px;
}
.footer-h1{
    font-family: TT Norms;
font-size: 16px;
font-weight: 700;
line-height: 19px;
letter-spacing: 0em;
text-align: left;

}
.footer-li{
    width: 210px;
}
.footer-li1{
    width: 210px;
}
.footer-a{
    text-align: left;
    font-family: TT Norms;
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0em;
color: rgba(49, 49, 49, 1);
}
.sec_bloc1{
    margin-top: 53px;
}
.obwi_bloc{
    margin-top: 48px;
}